/*Css general*/
body{
    font-family: 'Barlow', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}
/*CSS HEADER*/
#t1{
    margin: 0px;
    color:#102140;
    font-size: 50px;
    font-weight: 600;
}
#t2{
    margin: 0px;
    color:#102140;
}

/*CSS MAIN*/

main{
    flex: 1;
}


/*CSS FORMULARIO LOGIN*/
#formulario{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}
/*CSS INPUT*/
.inp{
    background-color: #f5f5f5;
    border: none;
    border-bottom:2px solid black;
    padding: 5px;
    width: 250px;
}

/*CSS  contendedor iconos*/
.divF{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*CSS iconos*/

.iconc{  
    margin-right: 10px;
    margin-top: 5px;
}
i{
    margin-right: 10px;
    margin-top: 5px;
    font-size: 25px; 
}



/*BOTON INICIAR SESION */
#boton3{
    border: none;
    margin-top: 10px;
    float: right;
    padding: 10px;
    font-size: 14px;
    background-color: #102140;
    color: white;
    font-weight: bold;
    cursor: pointer;
    opacity: 1;
   
}

#boton3:hover{
    transition: 0.3s;
    opacity: 0.9;
}
/*CSS FOOTER*/
footer{
    background-color: #bdddf6;
    display: flex;
    flex-shrink: 0;
    padding: 20px;
    justify-content:space-between
}

@media (max-width: 650px) {
    #t1{
        margin-top: 25px;
        color:#102140;
        font-size: 30px;
        font-weight: 600;
    }
    #t2{
        color:#102140;
        font-size: 12px;
    }
}

a {
    color: black;
    text-decoration: none;
}

a:hover
{
    color: black;
    text-decoration:none;
    cursor:pointer;
}