# ----------------------------------------------------------------------
# Start rewrite engine
# Turning on the rewrite engine is necessary for the following rules and features
# FollowSymLinks must be enabled for this to work.
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
</IfModule>

RewriteBase /
DirectoryIndex index.php

# Ocultar listado directorios
Options -Indexes

# HTTPS
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.localhost/$1 [R,L]

# ----------------------------------------------------------------------
# Suppress the "www." at the beginning of URLs
# ----------------------------------------------------------------------
<IfModule mod_rewrite.c>
#  RewriteCond %{HTTPS} !=on
  RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
  RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L]
</IfModule>

# ----------------------------------------------------------------------
# Friendly URLs
# ----------------------------------------------------------------------
#RewriteRule ^error$ error.php [L,NC]
#RewriteRule ^alumnos$ alumnos.php [L,NC]
#RewriteRule ^equipos$ equipos.php [L,NC]
#RewriteRule ^profesor-([A-Za-z0-9-]+)/$ profesores.php?profesor=$1[L,NC]
#RewriteRule ^centro-([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ grupos.php?centro=$1&profesor=$2 [L,NC]
#RewriteRule ^equipos/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ equipo.php?centro=$1&curso=$2 [L,NC]

RewriteRule ^paginas/adminC/altaProfesor paginas/adminC/altaProfesor.php [L,NC]
RewriteRule ^paginas/adminC/verProfesor paginas/adminC/verProfesor.php [L,NC]
RewriteRule ^paginas/adminC/bajaProfesor paginas/adminC/bajaProfesor.php [L,NC]
RewriteRule ^paginas/adminC/modiProfesor paginas/adminC/modiProfesor.php [L,NC]

RewriteRule ^paginas/adminC/altaCurso paginas/adminC/altaCurso.php [L,NC]
RewriteRule ^paginas/adminC/verCurso paginas/adminC/verCurso.php [L,NC]
RewriteRule ^paginas/adminC/bajaCurso paginas/adminC/bajaCurso.php [L,NC]
RewriteRule ^paginas/adminC/modiCurso paginas/adminC/modiCurso.php [L,NC]

RewriteRule ^paginas/profesor/altaAlumnos paginas/profesor/altaAlumnos.php [L,NC]
RewriteRule ^paginas/profesor/verAlumnos paginas/profesor/verAlumnos.php [L,NC]
RewriteRule ^paginas/profesor/bajaAlumnos paginas/profesor/bajaAlumnos.php [L,NC]
RewriteRule ^paginas/profesor/modiAlumnos paginas/profesor/modiAlumnos.php [L,NC]
RewriteRule ^paginas/profesor/verResultados paginas/profesor/verResultados.php [L,NC]
RewriteRule ^paginas/profesor/equiposAutomaticos paginas/profesor/equiposAutomaticos.php [L,NC]

RewriteRule ^paginas/alumno/verPreguntas paginas/alumno/verPreguntas.php [L,NC]
RewriteRule ^paginas/alumno/verRespuestas paginas/alumno/verRespuestas.php [L,NC]

RewriteRule ^paginas/adminG/altaCentro paginas/adminG/altaCentro.php [L,NC]
RewriteRule ^paginas/adminG/verCentro paginas/adminG/verCentro.php [L,NC]
RewriteRule ^paginas/adminG/bajaCentro paginas/adminG/bajaCentro.php [L,NC]
RewriteRule ^paginas/adminG/modiCentro paginas/adminG/modiCentro.php [L,NC]

RewriteRule ^paginas/iniSesion paginas/iniSesion.php [L,NC]
RewriteRule ^paginas/cerrarSesion paginas/cerrarSesion.php [L,NC]

RewriteRule ^error error.php [L,NC]

# ---------------------------------------------------------------------------
# Block access to non-existing files or directories forwarding to index.php .
# ---------------------------------------------------------------------------
<IfModule mod_rewrite.c>
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*) error.php [L]
#  RewriteRule ^(.*)$ $1.php
</IfModule>

# ----------------------------------------------------------------------
# Block access to backup and source files
# ----------------------------------------------------------------------
<FilesMatch "(\.(bak|config|sql|fla|psd|ini|log|sh|inc|swp|dist)|~)$">
  Order allow,deny
  Deny from all
  Satisfy All
</FilesMatch>

# ----------------------------------------------------------------------
# Custom error pages
# ----------------------------------------------------------------------
ErrorDocument 400 /error
ErrorDocument 401 /error
ErrorDocument 403 /error
ErrorDocument 404 /error
ErrorDocument 405 /error
ErrorDocument 408 /error
ErrorDocument 410 /error
ErrorDocument 411 /error
ErrorDocument 412 /error
ErrorDocument 413 /error
ErrorDocument 414 /error
ErrorDocument 415 /error
ErrorDocument 500 /error
ErrorDocument 501 /error
ErrorDocument 502 /error
ErrorDocument 503 /error
ErrorDocument 506 /error

# ----------------------------------------------------------------------
# Gzip compression
# ----------------------------------------------------------------------
<IfModule mod_deflate.c>
  # Force deflate for mangled headers
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>
</IfModule>