<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^([0-9]+)$ ?id=$1
    RewriteRule ^editar/([0-9]+)$ editar.php?id=$1
    RewriteRule ^borrar/([0-9]+)$ borrar.php?id=$1
    RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
